body{
    font-size:  62.5%;
    margin:  0;
    padding:  0;
    background-color: #34bede;
}
.soclear{
    outline:  none !important;
    box-shadow: none !important;
}
a:link{
    text-decoration:  none;
}
/**,* *,* * *,* * * *,* * * * *{
    border:  1px red solid;
}*/
.container-fluid{
    background-color: #34bede;
}
.valign{
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

.pg2head{
    padding-right: .5rem;
    padding-left: .5rem;
    padding-top: 1rem;
    background-color: #34bede;
}
.head{
    height: 2.5rem;
}
.back-yellow{
    text-align: center;
}
.menu{
    background: url(../images/wordpage.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    float:  left;
    height: 2rem;
    width:  2rem;
}
.fvckoff{
    position: relative;
    height: 1rem;
    width:  2rem;
    float: right;
    font-size: 3rem;
    color:  rgba(255,255,255,1);
    top:  -75%;
}

.forvoice{
    margin-top:  3.5rem;
    background-color: rgba(255,255,255,.5);
}
.forvoice .row{
    height:  100%;
}
.linkback{
    width: 2rem;
    height:  2rem;
    border-radius:  50%;
    background: url(../images/triangle2.png);
    background-repeat: no-repeat;
    background-position: 60% 50%;
    background-color: #f8b345;
    background-size: 50%;
}
.point2bottom{
    position: absolute;
    width:  0;
    height:  0;
    border-left: .3rem solid transparent;
    border-right: .3rem solid transparent;
    border-top:  .7rem solid rgba(255,255,255,.5);
    left:  3.2rem;
}
/*.voice{

    transform: scale(0);
    width:  7rem;
    top: 1.5rem;
    left: 60%;
}*/
/*.valign:hover~.voice{
    transform: scale(1);
}*/

/*.voice{
    transition: transform 5s 3s ;
}*/

.gameinfo{
    padding: 1rem 0;
    padding-left: 2.3rem;
    color:  rgba(255,255,255,.7);
}
.player-block{
    margin:  0 2%;

}
.player-block{
    border:  3px white solid;

    padding: 0;

}
.back-yellow{
    position: relative;
    background-color: #f3c881;
    padding:  0;
}
.back-yellow1{
    padding:  24% 0;
    font-size: 1.5rem;
}
.back-green{
    background-color: #82af9b;
    color:  white;
    position: absolute;
    top: 75%;
    height:  25%;
    font-size:  1rem;
}
.buff {
    position: relative;
    text-align: center;
    visibility: hidden;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.buff1{
    background: url(../images/noidea.png);
}
.buff2{
    background: url(../images/glass.png);
}
.buff3{
    background: url(../images/bulleye.png);
}
.buff4{
    background: url(../images/TEN.png);
}
.buff1,
.buff2,
.buff3,
.buff4{
    width: 21%;
    background-size: 92%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    padding: 10% 0;
    margin: 0 2%;
}

.blocks:hover .buff{
    visibility: visible;
}
.footer{
    background-color: #34bede;
}
.footbtn{
    background-color: #f8b445;
    height:  3rem;
    margin: 0.8rem 0;
    color:  white;
    font-size: 1.5rem;
    outline: none;
    box-shadow: none;
    border: none;
}
.forborder{
    position: relative;
    border: 1px  solid rgba(255,255,255,.7);
    z-index: 0;

}