body{
    font-size:  62.5%;
    margin:  0;
    padding:  0;
}
.soclear{
    outline:  none !important;
    box-shadow: none !important;
}
a:link{
    text-decoration:  none;
}
/**,* *,* * *,* * * *,* * * * *{
     border:  1px red solid;
 }*/
.valign{
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}
.head{
    background-color: #29b078;
}
.bgwhite{
    background-color: white;
    height:  2.5rem;
}

.headlink{
    display: inline-block;
    height: 1.5rem;
    width:  1.5rem;
    border-radius: 50%;
}
.smup-nav1{
    height:  7rem;
}
.nav-bt{
    display:    inline-block;
    width: 25%;
    height:  7rem;

}
.nav-bt-0{
    height:  7rem;
}
.text-vcwhite{
    color:  white;
    font-size:  1.2rem;
}
.nav-bt ::before{
    content:   " ";
    width: 100%;
    height: 100%;
    top:  2.6rem;
    left:  0;
    right:  0;
    position: absolute;
    border-bottom: 10px white solid;
    visibility: hidden;
}
.nav-bt:hover .text-vcwhite::before{
    visibility: visible;
}
.headlink1{
    background: url(../images/t-8-p1-headlogo1.png) no-repeat;
    background-position: center;
}
.headlink2{
    background: url(../images/t-8-p1-headlogo2.png) no-repeat;
    background-position: center;
}
.headlink3{
    background: url(../images/t-8-p1-headlogo3.png) no-repeat;
    background-position: center;
}
.headlink{
    border: 1px #29b078 solid;
}
.carousel-indicators li{
    height: .8rem;
    width:  .8rem;
    border-radius: 50%;
    flex:  0 0 auto;
    /*默认为啥1 0 auto？*/
}
#rollrollsm .carousel-indicators li{
    height: .3rem;
    width:  .3rem;
    border-radius: 50%;
    flex:  0 0 auto;
}
.p{
    font-family: "思源黑体 CN Heavy", fantasy;
    color:  white;
}
.line1{
    font-size: 1rem;
    position: absolute;
    top:  -720%;
    left:  25%;
}
.line2lg{
    font-size: 2rem;
    position: absolute;
    top:  -700%;
    left:  6%;
 }
.line2{
    font-size: 1.2rem;
    position: absolute;
    top:  -650%;
    left:  25%;
}
.line11 {
    font-size: 14px;
    position: absolute;
    top: -30%;
    left:  20%;
    background-color: white;
    color: black;
}
.line21{
    font-size: .5rem;
    position: absolute;
    top: 14%;
    left:  20%;
    border-bottom: 1px white solid;
}
.inforow{
    height:  100%;
}
.info1{
    color: #ccc;
    text-align: left;
    padding: 0 18%;
}
.info2{
    color: #ccc;
    padding: 0 18%;
}
.infoimg{
    background: url(../images/t-8-pg1-mainicon3.png);
    background-repeat: no-repeat;
    background-position: 50% 10%;
}
.infoimg1{
    background: url(../images/t-8-pg1-mainicon2.png);
    background-repeat: no-repeat;
    background-position: 50% 10%;

}
.infoimg2{
    background: url(../images/t-8-pg1-mainicon1.png);
    background-repeat: no-repeat;
    background-position: 50% 10%;
}
.infotitle{
    font-size: 1rem;
}

.userno{
    background: url(../images/t-8-pg1-mainuser.png);
    background-repeat: no-repeat;
    background-position: 25% 20%;
}
.inforow p{
    padding:  0;
    margin:  0;
}
.tips3{
    border-right:  .2vw #29b078 dashed;
}
.nothing{
    font-size:  3vw;
}
.circle1{
    height:  3rem;
    width:  3rem;
    border-radius: 50%;
    box-shadow: black .05vw .05vw .1vw;

}
.circle1 p{
    color: #29b078;
}
.pointer-g{
    background: url(../images/t-8-p1-pointe2.png);
    background-repeat: no-repeat;
    position: absolute;
    top:  29%;
    right: -8%;
}
.how2text{
    color:  #ccc;
    height:  3rem;
}
.show-title{
    font-size: 1.2vw;
}
.card-img-top{
    height:  45%;
    width: 45%;
    border-radius: 50%;
    margin: .5vw 27.5%;
    box-shadow: black .5px .5px;
}
.card-title{
    font-size:  1.5vw
}
.card-text{
    font-size:  1.2vw;
    color:  #ccc;
}
.card-block{
    padding-left:  2%;
    padding-right:  2%;
}
.rollroll2{
    padding: 4% 0;
}
#rollroll2 ol{
    position: absolute;
    top:  105%
}
.carousel-indicators .active {
    background-color: #1db176;
    box-shadow: #ccc .1rem .2rem .1rem;
}
.forshadow{
    box-shadow: #ccc .1rem .2rem .1rem;
}