
a:link,
a:visited,
a:hover,
a:active {
    color: #1db176;
}

.p-color {
    color: #29b078;
    display: inline-block;
}

.for-inclist {
    font-size: 1.2rem;
    color: #29b078;
}

.incname-color {
    display: inline-block;
    background-color: white;
    color: #29b078;
    cursor: pointer;
}

.for-dot {
    display: inline-block;
    padding: .34rem;
    border-radius: 60%;
    border: #ff7000 solid 1px;
}

.bt-card  li {
    display: inline-block;
    border: none;
}
.bttn{
    color: #29b078;
    outline: none;
    box-shadow: none;
}
button{
    outline: none!important;
    box-shadow: none;
    border: none;
    font-size: 1rem;
    padding-left: .5rem;
}
button:hover .incname,
button:focus .incname {
    background-color: #f3a846;
    outline: none!important;
}
button:hover,
button:focus{
    color: #f3a846;
    outline: none!important;
    transform: none;
    transition: none!important;
}
.inclogo{
    background: url(../images/t-8-p2-logo1.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 18% 0;
    background-size: 65%;
}
.for-incinfo{
    font-size: 1rem;
    display: inline-block;
    line-height: 1.8rem;
    padding-top: .5rem;
}
.incinfo{
     font-size: 1rem;
     display: inline-block;
     line-height: 1.8rem;
     padding: .5rem 1rem;
     text-indent: 2.2rem;

 }
.about
{
    border: 1.5px #ccc solid;
}

.card-block{
    border-bottom: 1.5px #ccc solid;;
}
.part-left-sidebar{
    margin-bottom:3rem;
}
.card-title-sm{
    font-size: .8rem;
    position: relative;
    top: 1rem;
}
.card-block2 p{
    display: inline-block;
}

