body {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
}

body {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

.soclear {
    outline: none !important;
    box-shadow: none !important;
}

a:link {
    text-decoration: none;
}




.valign{
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

.head {
    background-color: #29b078;
}

.bgwhite {
    background-color: white;
    height: 2.5rem;
}

.headlink {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
}

.smup-nav1 {
    height: 6rem;
}

.nav-bt {
    display: inline-block;
    width: 20%;
    height: 7rem;
}

.nav-bt-0 {
    height: 7rem;
}

.text-vcwhite {
    color: white;
    font-size: 1.2rem;
}

.nav-bt ::before {
    content: " ";
    width: 100%;
    height: 100%;
    top: 2.1rem;
    left: 0;
    right: 0;
    position: absolute;
    border-bottom: 7px white solid;
    visibility: hidden;
}

.nav-bt:hover .text-vcwhite::before {
    visibility: visible;
}

.headlink1 {
    background: url(../images/t-8-p1-headlogo1.png) no-repeat;
    background-position: center;
}

.headlink2 {
    background: url(../images/t-8-p1-headlogo2.png) no-repeat;
    background-position: center;
}

.headlink3 {
    background: url(../images/t-8-p1-headlogo3.png) no-repeat;
    background-position: center;
}

.headlink {
    border: 1px #29b078 solid;
}

.carousel-indicators li {
    height: .8rem;
    width: .8rem;
    border-radius: 50%;
    flex: 0 0 auto;

}

#rollrollsm .carousel-indicators li {
    height: .3rem;
    width: .3rem;
    border-radius: 50%;
    flex: 0 0 auto;
}

.footer-green {
    background-color: #29b078;
}

.footer-green p {
    color: white;
}

.footer-green b {
    font-size: 1rem;
}

.border-both {
    border-left: 2px white solid;
    border-right: 2px white solid;
}

.col-11 p {
    text-align: center;
}

.smup-club a {
    display: block;
}

/*.club-hover p::before {
    content: "";
    border-bottom: white solid 2px;
    padding: 6% 25%;
    position: absolute;
    visibility: hidden;
}*/

.smup-club .col-6:hover p{
    border-bottom: white solid 1px;
}

.smup-club .col-6 p{
    display: inline-block;
    border-bottom: #29b078 solid 1px;
}

.copyright {
    border-top: white solid 1px;
    display: block;
    padding: 1rem 1rem;
}

.how2text1sm {
    color: black !important;
}

.circke1sm {
    background: url(../images/t-8-p1-pointe2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    height: 2rem;
    width: 2rem;
}

.no-back .circke1sm {
    background: none;
}

.sm-col {
    padding-top: 1rem;
    box-shadow: #1eb177 0 1px 3px;
}

.sm-login a {
    padding: 0;
}

.sm-logo {
    background: url(../images/t-8-p1-logojinengshu.png);
    background-position: left;
    background-repeat: no-repeat;
    padding: 2rem 25% 1rem 1rem;
    background-size: 40%;
}
.smup-info p{
    padding-left: 6px;
    padding-right: 6px;
}
.sm-dropmenu{
    display: inline-block;
    padding:  1rem ;
    background: url(../images/menu.png);
    background-position: right;
    background-size: 50%;
    background-repeat: no-repeat;
    background-clip: padding-box;
    transform: translatex(-15px);

}

.sm-dropmenu1 {
    display: inline-block;
    padding: 1rem;
    background: url(../images/menu.png);
    background-position: right;
    background-size: 65%;
    background-repeat: no-repeat;
    background-clip: padding-box;
    transform: translatex(-15px);
}

.sm-logo1 {
    background: url(../images/t-8-p1-logojinengshu.png);
    background-position: left;
    background-repeat: no-repeat;
    padding: 2rem 25% 1rem 1rem;
    background-size: 60%;
}
.dropmenu-list a {
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: white !important;
    display: block;
}
/*cc*/
.forhidden {
    display: none;
}

a.button1:hover ~ .dropmenu-list .forhidden,
a.button1:focus ~ .dropmenu-list .forhidden {
    display: block;
    border-top: 1.5px solid white;
}

div.dropmenu-list:hover .forhidden,
div.dropmenu-list:focus .forhidden {
    display: block;
}


