body{
    font-size:  62.5%;
    margin:  0;
    padding:  0;
}
.soclear{
    outline:  none !important;
    box-shadow: none !important;
}
a:link{
    text-decoration:  none;
}
*,* *,* * *,* * * *,* * * * *{
    border:  1px red solid;
}
.valign{
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}
.head{
    background-color: #29b078;
}
.bgwhite{
    background-color: white;
    height:  2.5rem;
}

.headlink{
    display: inline-block;
    height: 1.5rem;
    width:  1.5rem;
    border-radius: 50%;
}
.smup-nav1{
    height:  7rem;
}
.nav-bt{
    display:    inline-block;
    width: 25%;
    height:  7rem;
    border-bottom: 3px white solid;
}
.nav-bt-0{
    height:  7rem;
}
.text-vcwhite{
    color:  white;
    font-size:  1.2rem;

}
.text-vcwhite{

}