@charset "UTF-8";

// 头部默认字体变量
//-----------------------

$ff-allpage: "Microsoft YaHei", SimSun, SimHei;
$color-bg-head: #1999dd !default;
$color-text-block: white !default;

// 默认背景图初始化设置
//---------------------
$back-img-repeat: norepeat !default;
$back-img-position: center !default;

//全局boxsize
//-------------
@mixin global-box-size {
  box-sizing: border-box;
}

//头部默认样式
//------------------------

@mixin head-style() {
  background-color: $color-bg-head;
  color: $color-text-block;
  font-family: $ff-allpage;
}

//背景图片默认设置
@mixin back-img-defulit {
  background: {
    repeat: $back-img-repeat;
    position: $back-img-position;
  }

}

//通用头部组件

@mixin style-head-block() {
  width: 100%;
  position: relative;

  box-sizing: border-box;

  & :first-child {
    display: flex;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translatey(-50%);
    & .btn-back {
      float: left;
    }
    & .btn-close {
      float: right;
    }
    & .title {
      font-size: 1.5rem;
    }
  }
}