@charset "UTF-8";
@import "mixins-allpage";
// 头部样式
//---------------------------

/*body初始设置*/

body {
  padding: 0;
  margin: 0;
}

*, * *, * * *, * * * *, * * * * * {
  border: 1px red solid;
}


/*链接及按钮各状态样式*/
.pointer {
  &:link,
  &:visited,
  &:active {
    color: #f9f9f9;
    outline: none !important;
    cursor: pointer;
  }
  &:hover,
  &:focus {
    color: #fff0f5;
    transform: translatex(-.5rem);
  }
}
/*头部样式设置*/
.head {
  @include head-style;
  @include style-head-block();
  & p, a {
    font-size: 1.5rem;
    text-decoration: none !important;
    display: inline-block;
    clear: none;
    vertical-align: middle;
    padding: {
      left: .5rem;
      right: .5rem;
    }
  }
}

/*背景图片默认样式*/
.back-img {
  @include back-img-defulit;
}


