doctype html
html
    head
        meta(charset='UTF-8')
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        title 桌游精灵-投票页
        link(rel='stylesheet', href='./testscss/test13pg2.css')
    body.color-bg-t13
        .nothing &nbsp
        header.head
            .row.row1.between.colort-w.valign
                a(href="#").link-left &nbsp
                .title 投票
                .link-right x
            .row.row2.between.point2bottom.color-vote-t13-pg2
                .col-9.col-offset-1 发表讨论结束，大家请投票
                a(href='#').color-tfont-t13 &nbsp
                    //audio.voice(loop="loop",autoplay="autoplay")
                        source(src="./sounds/song1.mp3")

            .row.row3.around.info-block
                .col-10.colort-vote-t13-pg2 点击得票数最多人的头像
            .row.row4
                .col-4
                    .row.row5.center
                        .col-12
                            .blue.color-tfont-t13.valign 水民
                            .green.color-blockbg-t13 一号
                        .col-12
                            .row.row6.around
                                .icon-t13pg2-1.col-3
                                    a
                                .icon-t13pg2-2.col-3
                                    a
                                .icon-t13pg2-3.col-3
                                    a
                                .icom-t13pg2-4.col-3
                                    a
                .col-4
                    .row.row5.center
                        .col-12
                            .blue.color-tfont-t13.valign 水民
                            .green.color-blockbg-t13 一号
                        .col-12
                            .row.row6.between
                                .icon-t13pg2-1.col-3
                                    a
                                .icon-t13pg2-2.col-3
                                    a
                                .icon-t13pg2-3.col-3
                                    a
                                .icon-t13pg2-4.col-3
                                    a
                .col-4
                    .row.row5.center
                        .col-12
                            .blue.color-tfont-t13.valign 水民
                            .green.color-blockbg-t13 一号
                        .col-12
                            .row.row6.around
                                .icon-t13pg2-1.col-3
                                    a
                                .icon-t13pg2-2.col-3
                                    a
                                .icon-t13pg2-3.col-3
                                    a
                                .icom-t13pg2-4.col-3
                                    a
                .col-4
                    .row.row5.center
                        .col-12
                            .blue.color-tfont-t13.valign 水民
                            .green.color-blockbg-t13 一号
                        .col-12
                            .row.row6.around
                                .icon-t13pg2-1.col-3
                                    a
                                .icon-t13pg2-2.col-3
                                    a
                                .icon-t13pg2-3.col-3
                                    a
                                .icom-t13pg2-4.col-3
                                    a
                .col-4
                    .row.row5.center
                        .col-12
                            .blue.color-tfont-t13.valign 水民
                            .green.color-blockbg-t13 一号
                        .col-12
                            .row.row6.around
                                .icon-t13pg2-1.col-3
                                    a
                                .icon-t13pg2-2.col-3
                                    a
                                .icon-t13pg2-3.col-3
                                    a
                                .icom-t13pg2-4.col-3
                                    a
                .col-4
                    .row.row5.center
                        .col-12
                            .blue.color-tfont-t13.valign 水民
                            .green.color-blockbg-t13 一号
                        .col-12
                            .row.row6.around
                                .icon-t13pg2-1.col-3
                                    a
                                .icon-t13pg2-2.col-3
                                    a
                                .icon-t13pg2-3.col-3
                                    a
                                .icom-t13pg2-4.col-3
                                    a
                .col-4
                    .row.row5.center
                        .col-12
                            .blue.color-tfont-t13.valign 水民
                            .green.color-blockbg-t13 一号
                        .col-12
                            .row.row6.around
                                .icon-t13pg2-1.col-3
                                    a
                                .icon-t13pg2-2.col-3
                                    a
                                .icon-t13pg2-3.col-3
                                    a
                                .icom-t13pg2-4.col-3
                                    a
                .col-4
                    .row.row5.center
                        .col-12
                            .blue.color-tfont-t13.valign 水民
                            .green.color-blockbg-t13 一号
                        .col-12
                            .row.row6.around
                                .icon-t13pg2-1.col-3
                                    a
                                .icon-t13pg2-2.col-3
                                    a
                                .icon-t13pg2-3.col-3
                                    a
                                .icom-t13pg2-4.col-3
                                    a
                .col-4
                    .row.row5.center
                        .col-12
                            .blue.color-tfont-t13.valign 水民
                            .green.color-blockbg-t13 一号
                        .col-12
                            .row.row6.around
                                .icon-t13pg2-1.col-3
                                    a
                                .icon-t13pg2-2.col-3
                                    a
                                .icon-t13pg2-3.col-3
                                    a
                                .icom-t13pg2-4.col-3
                                    a
                .col-4
                    .row.row5.center
                        .col-12
                            .blue.color-tfont-t13.valign 水民
                            .green.color-blockbg-t13 一号
                        .col-12
                            .row.row6.around
                                .icon-t13pg2-1.col-3
                                    a
                                .icon-t13pg2-2.col-3
                                    a
                                .icon-t13pg2-3.col-3
                                    a
                                .icom-t13pg2-4.col-3
                                    a
                .col-4
                    .row.row5.center
                        .col-12
                            .blue.color-tfont-t13.valign 水民
                            .green.color-blockbg-t13 一号
                        .col-12
                            .row.row6.around
                                .icon-t13pg2-1.col-3
                                    a
                                .icon-t13pg2-2.col-3
                                    a
                                .icon-t13pg2-3.col-3
                                    a
                                .icom-t13pg2-4.col-3
                                    a
                .col-4
                    .row.row5.center
                        .col-12
                            .blue.color-tfont-t13.valign 水民
                            .green.color-blockbg-t13 一号
                        .col-12
                            .row.row6.around
                                .icon-t13pg2-1.col-3
                                    a
                                .icon-t13pg2-2.col-3
                                    a
                                .icon-t13pg2-3.col-3
                                    a
                                .icom-t13pg2-4.col-3
                                    a
                .col-4
                    .row.row5.center
                        .col-12
                            .blue.color-tfont-t13.valign 水民
                            .green.color-blockbg-t13 一号
                        .col-12
                            .row.row6.around
                                .icon-t13pg2-1.col-3
                                    a
                                .icon-t13pg2-2.col-3
                                    a
                                .icon-t13pg2-3.col-3
                                    a
                                .icom-t13pg2-4.col-3
                                    a
                .col-4
                    .row.row5.center
                        .col-12
                            .blue.color-tfont-t13.valign 水民
                            .green.color-blockbg-t13 一号
                        .col-12
                            .row.row6.around
                                .icon-t13pg2-1.col-3
                                    a
                                .icon-t13pg2-2.col-3
                                    a
                                .icon-t13pg2-3.col-3
                                    a
                                .icom-t13pg2-4.col-3
                                    a
                .col-4.d-none
                    .row.row5.center
                        .col-12
                            .blue.valign
                            .green
                        .col-12
                            .row.row6.around
                                .icon-t13pg2-1.col-3

                                .icon-t13pg2-2.col-3

                                .icon-t13pg2-3.col-3

                                .icom-t13pg2-4.col-3

        footer
            .row.row4.center
                a.link-footer 1