doctype html
html
    head
        meta(charset='UTF-8')
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        title.d-none 桌游精灵
        link(rel='stylesheet', href='./testscss/test-13.css')
body.color-bodybg-t13
    header.head.row
        .col-12.color-bg-t13
            p.bg-img-t13
        .col-12.nothing
    main
        .row
            .col-10.col-offset-1
                .row.row1
                    a(href='#').d-inline-block.col-12.block-title
                        .row.row2.valign
                            .col-12.center.colort-top-t13 上次游戏：捉鬼猜词版
                                .r.d-inline-block.colort-top-t13 >
                    .col-12.nothing
                    .col-12.block-info-t13
                        .row.row3
                            .col-12.border-b.colort-tfont-t13.d-block 捉鬼游戏
                            .nothing.col-12
                            a(href="#").pointer-t13
                            a(href='#').d-inline-block.col-10.col-offset-1.color-bg-t13.colort-bodybg-t13
                                .row.row2.valign
                                    .col-12.center 简化版
                            .col-12.nothing
                            .col-12.nothing
                            a(href='#').d-inline-block.col-10.col-offset-1.color-bg-t13.colort-bodybg-t13
                                .row.row2.valign
                                    .col-12.center 猜词版
                            .col-12.nothing
                            .col-12.nothing
                            a(href='#').d-inline-block.col-10.col-offset-1.color-bg-t13.colort-bodybg-t13
                                .row.row2.valign
                                    .col-12.center 白痴版
                            .col-12.nothing
                            .col-12.dot-t13
                                .row
                                    .col-12
                                        .row.center
                                            .col-1
                                                .circle
                                            .col-1
                                                .circle
                                            .col-1
                                                .circle
                                            .col-1
                                                .circle