@charset "UTF-8";
/*全局字体设置........个人习惯，感觉这个值最合适*/
/*头部左中右组件*/
.info-block {
    font-size: 1.1rem;
}

.info-block .ft-style {
    padding-left: 1rem;
}

.info-block .ft-style .bg-img {
    display: inline-block;
    padding: .7rem;
    margin-right: .5rem;
}

header, .head {
  position: relative;
  box-sizing: border-box;
  display: inherit;
  padding: 1.5rem 1rem;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #5ac0ce;
  color: #fefefe;
  z-index: 15; }
  header:first-child, .head:first-child {
    position: relative;
    top: 0;
    left: 0;
    box-sizing: inherit;
    text-align: center;
    font-size: 1rem; }
  header .link-back, .head .link-back {
    color: inherit;
    float: left;
    box-sizing: inherit;
    display: inline-block;
    font-size: 1.5rem; }
  header .link-back:hover, header .link-back:focus, .head .link-back:hover, .head .link-back:focus {
    transform: translatex(-0.3rem); }
  header .title, .head .title {
    display: inline-block;
    margin: 0 auto;
    padding: 0 auto;
    cursor: default;
    font-size: 2rem;
    position: relative;
    top: 50%;
    transform: translatey(-10%); }
  header .link-close, .head .link-close {
    display: inline-block;
    color: inherit;
    float: right;
    width: 5rem;
    text-align: right;
    font-size: 1.5rem; }
  header .link-close:hover, header .link-close:focus, .head .link-close:hover, .head .link-close:focus {
    transform: scale(0.95) translate(0, 0); }

body, .body {
  font-family: "Microsoft YaHei", SimSun, SimHei;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box; }

body *, body * *, body * * *, body * * * *, body * * * * *, .body *, .body * *, .body * * *, .body * * * *, .body * * * * * {
    box-sizing: border-box !important;
}
  body a, body input, .body a, .body input {
    outline: none !important;
    text-decoration: none !important;
    cursor: pointer; }
  body > *, .body > * {
    position: relative;
    width: 100%; }

.input-text {
  padding: .5rem;
  border: none;
  border-left: dotted 1px #5ac0ce;
  font-size: 1.1rem; }

.bg-t456 {
  position: relative;
  box-sizing: border-box;
  margin-top: 1rem;
  border: 1px solid #ccc;
  display: inline-block;
  float: left;
  background-color: transparent;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 3.5rem; }

.btn-block {
  display: inline-block;
  line-height: 2rem;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin-top: 1rem;
  text-align: center;
  color: #fefefe;
  background-color: #5ac0ce;
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.btn-block:link,
.btn-block:visited {
  text-decoration: none;
  color: #fefefe; }

.btn-block:hover,
.btn-block:focus {
  color: whitesmoke; }

footer, .foot {
  position: relative;
  box-sizing: border-box;
  display: inherit;
  padding: 1.5rem 1rem;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #fefefe;
  color: #fefefe;
  z-index: 15; }
  footer:first-child, .foot:first-child {
    position: relative;
    top: 0;
    left: 0;
    box-sizing: inherit;
    text-align: center;
    font-size: 1rem; }
  footer .link-left, .foot .link-left {
    border-radius: 5px 5px;
    float: left;
    box-sizing: inherit;
    display: inline-block;
    font-size: 1.2rem;
    vertical-align: middle;
    background-color: white;
    color: #5ac0ce;
    border: #5ac0ce 1.5px solid;
    width: 47.5%;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem; }
  footer .link-right, .foot .link-right {
    border-radius: 5px 5px;
    display: inline-block;
    float: right;
    font-size: 1.2rem;
    vertical-align: middle;
    color: white;
    background-color: #5ac0ce;
    border: #5ac0ce 1.5px solid;
    width: 47.5%;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem; }

.dropdown-menu-default {
  z-index: 1000;
  position: fixed;
  width: 100%;
  text-align: center;
    overflow: hidden;
}

.dropdown-menu-default .dropdown-menu-grope {
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    min-width: 100%;
    overflow: hidden;
}

.dropdown-menu-default .dropdown-menu-grope .dropdown {
    position: relative;
    box-sizing: border-box;
    width: 33.3%;
    max-width: 33.3%;
    clear: none;
    float: left;
    border-bottom: 1px solid #5ac0ce;
    z-index: inherit;
    background-color: white;
    padding: 0;
}

.dropdown-menu-default .dropdown2 {
    border-left: 1px dotted #5ac0ce;
    border-right: 1px dotted #5ac0ce;
}

.dropdown-menu-default .dropdown-btn {
    display: inline-block;
    line-height: 1.5rem;
    width: 100%;
    color: #ccc;
    font-size: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.dropdown-menu-default .dropdown-btn::after {
    content: "▼";
    position: absolute;
    right: 5%;
}

.dropdown-menu-default .dropdown1:hover .dropdown-list1,
.dropdown-menu-default .dropdown-btn1:hover ~ .dropdown-list1,
.dropdown-menu-default .dropdown-btn1:focus ~ .dropdown-list1 {
    position: relative;
    visibility: visible;
}

.dropdown-menu-default .dropdown2:hover .dropdown-list2,
.dropdown-menu-default .dropdown-btn2:hover ~ .dropdown-list2,
.dropdown-menu-default .dropdown-btn2:focus ~ .dropdown-list2 {
    position: relative;
    visibility: visible;
}

.dropdown-menu-default .dropdown3:hover .dropdown-list3,
.dropdown-menu-default .dropdown-btn3:hover ~ .dropdown-list3,
.dropdown-menu-default .dropdown-btn3:focus ~ .dropdown-list3 {
    position: relative;
    visibility: visible;
}

.dropdown-menu-default .dropdown-list {
    border: 1px solid #5ac0ce;
    position: absolute;
    visibility: hidden;
}

.dropdown-menu-default ul {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.dropdown-menu-default li {
    position: relative;
    list-style: none;
    border-bottom: 1px solid #5ac0ce;
    line-height: 1.5rem;
}

.dropdown-menu-default li a {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.bg-1 {
  padding-left: 2.8rem;
  width: 100%;
  line-height: 4rem;
  background-image: url(../images/phone.png); }

.bg-2 {
  clear: both;
  padding-left: 2.8rem;
  width: 100%;
  line-height: 4rem;
  background-image: url(../images/lock.png); }

.link-tag {
  color: #ccc;
  float: right;
  padding: .5rem;
  padding-right: 1rem; }

.head-fixed {
  position: fixed !important;
  top: 0;
  left: 0;
    z-index: 1000;
}

/*footer标签用head类名实在太诡异。。。所以这部分直接写CSS了有空我去规范下类名 表明头脚都能用*/
.foot-fiexd {
  position: fixed !important;
  bottom: 0;
  left: 0;
  z-index: 15; }

.info-nerse {
  z-index: 0;
  margin-top: 5.2rem;
  padding: 10% 3%;
  background-image: url(../images/bgimg.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 120%; }
  .info-nerse :first-child {
    position: relative;
    height: 6rem; }
    .info-nerse :first-child .t5-info-bg {
      float: left;
      line-height: 1rem;
      margin: 0;
      width: 6rem;
      border-radius: 50%;
      margin-right: 1rem;
      background-image: url(../images/girl.png);
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat; }
    .info-nerse :first-child .text-info {
      line-height: 1.5rem;
      position: relative;
      top: 50%;
      transform: translatey(-50%);
      color: white; }
      .info-nerse :first-child .text-info :first-child {
        font-size: 1.2rem;
        margin-bottom: 1rem; }
      .info-nerse :first-child .text-info .pin-bg {
        display: inline;
        line-height: 2rem;
        background-image: url(../images/pin.png);
        background-repeat: no-repeat;
        background-position: center; }

.detail-nerse-info ul {
  list-style: none;
  border-top: 1px solid #ccc; }
.detail-nerse-info li {
  font-size: 1rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-bottom: 1px #ccc solid; }
.detail-nerse-info .info-title {
  display: inline-block;
  font-size: 1.2rem;
  vertical-align: middle;
  color: #1d1e1f;
  padding-left: .5rem;
  margin-left: 1rem;
  margin-top: 1rem;
  border-left: 3px solid #5ac0ce; }

.bg-star {
  padding-left: 1rem;
  margin-right: .5rem;
  background-image: url(../images/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; }

.info-t {
  border-right: 1px dotted #5ac0ce;
  color: #ccc;
  padding-left: .5rem;
  padding-right: .5rem; }

.info-d {
  padding-left: .5rem; }

.info-d1 {
  color: red; }

.intro {
  display: table; }

.info-t1 {
  display: table-cell;
  float: left;
  width: 4rem;
  vertical-align: middle; }

.info-d2 {
  display: table-cell;
  vertical-align: middle;
  padding-left: .5rem;
  width: 100%; }

.info-list {
    height: 30rem;
}

.dropdown-menu-default {
    top: 5.2rem;
}

.block-info {
  border-top: 1px #5ac0ce solid;
  border-bottom: 1px #5ac0ce solid;
  position: relative;
    top: 9.5rem;
}

.block-info .ft-style2 {
    display: inline-block;
    width: 97%;
    position: relative;
}

.block-info .ft-style2 .valign-b-a {
    position: absolute;
    width: 40%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    top: 50%;
    left: 3.5rem;
    margin: 0;
    transform: translateY(-50%);
}

.block-info b {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: red;
    text-align: right;
}

.block-info b a {
    padding-left: 1.5rem;
    color: #5ec0ce;
}

.bg-img1 {
    background: url(../images/day23.png);
}

.bg-img2 {
    background: url(../images/t-12location2.png);
}

.bg-img {
  margin-top: .5rem;
  margin-bottom: .5rem;
  background-repeat: no-repeat;
    background-position: center;
}

.t6-foot-fiexd {
  text-align: center;
    padding: 0 1rem !important;
}

.t6-foot-fiexd *, .t6-foot-fiexd * * {
    border: none !important;
}

.t6-foot-fiexd .footer-title {
    display: inline-block;
}

.t6-foot-fiexd .footer-link-left,
.t6-foot-fiexd .footer-link-right {
    background-color: transparent;
    color: #ccc;
    font-size: 1rem;
    padding: 2rem 0 0 0;
    position: relative;
    top: 50%;
    transform: translatey(15%);
}

.t6-foot-fiexd .footer-link-left {
    margin: 0;
    width: 20%;
    background-image: url(../images/footer-left.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 2.5rem 2rem;
}

.t6-foot-fiexd .footer-link-left p {
    margin: 0;
}

.t6-foot-fiexd .footer-link-right {
    background-image: url(../images/footer-right.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 2rem 2rem;
    margin: 0;
    width: 20%;
}

.t6-foot-fiexd .footer-link-right p {
    margin: 0;
}

.t6-foot-fiexd .footer-title {
    position: relative;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #5ac0ce;
}

.t6-foot-fiexd .footer-title p {
    padding: .5rem;
    background-image: url(../images/sprint.png);
    background-position: -20% 8%;
}

footer {
    border-top: 1px solid #5ac0ce;
}

.title-btn1 {
  position: relative;
  left: 3.5rem;
  background-color: #55a7b2;
  color: white;
  border-radius: .3rem;
  padding: .3rem;
    font-size: 1.5rem !important;
}

.title-btn2 {
  position: relative;
  left: 3rem;
  background-color: white;
  color: #5ac0ce;
  border-radius: .3rem;
  padding: .3rem;
    font-size: 1.5rem !important;
}

.t6-link-close {
  background-image: url(../images/t-12location2.png);
  background-repeat: no-repeat;
    background-position: right;
}

/*# sourceMappingURL=test-456.css.map */
